<.simple_form
  :let={f}
  for={@changeset}
  id="question_answer-form"
  
  phx-change="validate"
  phx-submit="save"
>
  <.input field={f[:answer]} type="text" label="Answer" />
  <.input field={f[:is_correct]} type="checkbox" label="Is correct" />
  <:actions>
    <.button class="call2actionBtn" phx-disable-with="Saving...">Save</.button>
  </:actions>
</.simple_form>