@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "prism_light.css";
@import "prism_dark.css";
@import "colors.css";
@import "buttons.css";
@import "author.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');



/* This file is for your main application CSS */

body {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  color: var(--primary-color-text);
}

/* h1 { font-size: 10vw;}
h2 { font-size: 7vw; }
h3 { font-size: 6vw; }
h4 { font-size: 5vw; }
h5 { font-size: 4vw; }
h6 { font-size: 3vw; } 
p { font-size: 2.5vw;} */

h1 { @apply text-6xl}
h2 { @apply text-5xl }
h3 { @apply text-4xl }
h4 { @apply text-3xl }
h5 { @apply text-2xl }
h6 { @apply text-lg } 
p  { @apply text-sm }

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-[var(--primary-color-text)] font-medium
}

p {
  @apply text-[var(--primary-color-text)]
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: var(--border);
  height: 1px;
}


/* If the screen size is 768px wide or more, set the font-size of <div> to 80px */
/* @media screen and (min-width: 601px) {
  h1 { @apply text-8xl}
  h2 { @apply text-7xl }
  h3 { @apply text-6xl }
  h4 { @apply text-5xl }
  h5 { @apply text-4xl }
  h6 { @apply text-3xl } 
  p  { @apply text-base}
} */


/* Customizing bullet points */
ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 20px; /* Add indentation */
}

ul li::before {
  content: "\2022"; /* Unicode for bullet character (•) */
  color: var(--primary-color); /* Change bullet color */
  font-size: 1.2em; /* Adjust bullet size */
  margin-right: 5px; /* Add space between bullet and text */
}

/* Customizing enumeration */
ol {
  list-style-type: none; /* Remove default numbering */
  counter-reset: custom-counter; /* Reset counter for custom numbering */
  padding-left: 20px; /* Add indentation */
}

ol li {
  counter-increment: custom-counter; /* Increment counter for each list item */
}

ol li::before {
  content: counter(custom-counter) ". "; /* Use the counter value as the enumeration */
  color: var(--primary-color); /* Change enumeration color */
  font-weight: bold; /* Make enumeration bold */
  margin-right: 5px; /* Add space between enumeration and text */
}

li { @apply text-sm }


.input {
  @apply bg-[var(--background-card)] 
  border border-[var(--border)] focus:border-[var(--primary-color)] 
  text-[var(--primary-color-text)] text-sm
  rounded-md p-2
}



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: var(--background-card);
  border-radius: 10px; 
  overflow: hidden;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
  overflow-y: auto;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555;  */
  background: var(--primary-color);
}

.screen-padding {
  @apply sm:px-6 md:px-10 xl:px-40 2xl:px-56
}

#monitor-paced-full-screen-question * {
  h1 { @apply text-8xl};
  h2 { @apply text-7xl };
  h3 { @apply text-6xl };
  h4 { @apply text-5xl };
  h5 { @apply text-4xl };
  h6 { @apply text-3xl };
  p  { @apply text-lg };
  code[class*="language-"], pre[class*="language-"] {font-size: 1.1rem;};
}

#monitor-paced-full-screen-answers * {
  h1 { @apply text-8xl};
  h2 { @apply text-7xl };
  h3 { @apply text-6xl };
  h4 { @apply text-5xl };
  h5 { @apply text-4xl };
  h6 { @apply text-3xl };
  p  { @apply text-lg };
  code[class*="language-"], pre[class*="language-"] {font-size: 1.1rem;};
}