<.header>
  
  <h4> Form Page </h4>

  <%= if String.contains?(@page_title, "New") do %>
    new question
  <% else %>
      old quesiton 
  <% end %>
  <:actions>
    
  </:actions>
</.header>



<%!-- <.simple_form>



</.simple_form> --%>



<%= if String.contains?(@page_title, "New") do %>
  <.back navigate={~p"/quizzes/#{@quiz_id}"}>Back to Quiz</.back>
<% else %>
  <.back navigate={~p"/quizzes/#{@quiz_id}/question/#{@question.id}"}>Back to Question</.back>
<% end %>

