<%!-- MAIN CONTENT --%>
<main class="px-4 py-20 sm:px-6 lg:px-8 bg-[var(--background-view)]">
  <div class="max-w-4xl mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
