<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · QUIC">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
    function changeThemeToDark(toDark) {
      if (toDark) {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
      }
      else {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
      }
    }

    function checkTheme () {
      theme = localStorage.getItem('theme')
      if (theme && theme === 'dark') document.documentElement.classList.add('dark')
      else document.documentElement.classList.remove('dark')
    }

    checkTheme()
    </script>
  </head>
  <body class="antialiased bg-[var(--background-view)]">

    <%!-- NAVBAR --%>
    <header class="w-full px-4 sm:px-6 lg:px-20 bg-[var(--background-card)] border-b border-[var(--border)]">
      <div class="flex items-center justify-between py-3 text-sm">
        <%= if @current_author do %>
          <a href="/authors" class="flex items-center gap-2">
            <%!-- <img src={~p"/images/logo.svg"} width="36" /> --%>
            <.icon name="hero-computer-desktop" class="text-[var(--primary-color)]"/>
            <p class="text-lg font-medium">QUIC</p>
          </a>
        <% else %>
          <a href="/" class="flex items-center gap-2">
            <.icon name="hero-computer-desktop" class="text-[var(--primary-color)]"/>
            <p class="text-lg font-medium">QUIC</p>
          </a>
        <% end %>
          

        <div class="flex items-center gap-4 font-semibold leading-6 text-[var(--primary-color-text)]">

          <button onclick="changeThemeToDark(true)">
              <.icon name="hero-moon" />
         </button>
         <button onclick="changeThemeToDark(false)">
              <.icon name="hero-sun" />
          </button>

          <%= if @current_author do %>
            <%!-- <%= @current_author.email %> --%>
            <%!-- <.link
              href={~p"/authors/settings"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700">
              <.icon name="hero-cog-8-tooth" class="text-[var(--primary-color-text)]"/>
            </.link>
            <.link
              href={~p"/authors/log_out"}
              method="delete"
              class="text-sm font-semibold text-white loginBtn">
              Log out
            </.link> --%>
        <% else %>
            <%!-- <.link
              href={~p"/authors/register"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Register
            </.link> --%>
            <.link
              href={~p"/authors/log_in"}
              class="text-sm font-semibold text-white loginBtn">
              Log in
            </.link>
        <% end %>
        </div>
      </div>
    </header>

  
    <%= @inner_content %>
      
  </body>
</html>
