<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · QUIC">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
    <script>
      function changeThemeToDark(toDark) {
        if (toDark) {
          localStorage.theme = 'dark'
          document.documentElement.classList.add('dark')
        }
        else {
          localStorage.theme = 'light'
          document.documentElement.classList.remove('dark')
        }
      }

      function checkTheme () {
        theme = localStorage.getItem('theme')
        if (theme && theme === 'dark') document.documentElement.classList.add('dark')
        else document.documentElement.classList.remove('dark')
      }

      checkTheme()

      function toggleSidebar () {
        sidebar = document.getElementById("responsive-sidebar")
        if (sidebar) sidebar.classList.toggle("hidden")
      }
    </script>
  </head>
  <body class="antialiased bg-[var(--background-view)]">
    <%!-- SIDE BAR MEDIUM-SMALL SCREENS--%>
    <%= if @current_author do %>
      <.sidebar_responsive id="sidebar-responsive" on_cancel={JS.patch(@current_path)}>
        <.side_bar_items_general page_title={@page_title} />
        <.side_bar_items_personal page_title={@page_title} current_author={@current_author} />

        <div class="flex-1"></div>
        
        <.link
          id="log-out-button-responsive"
          href={~p"/authors/log_out"}
          method="delete"
          class="flex justify-center px-3 py-1 mt-10 text-sm text-center bg-gray-400 rounded-full dark:bg-gray-500 dark:hover:bg-gray-400 hover:bg-gray-500"
        >
          <p class="font-normal text-white">Log out</p>
        </.link>
    </.sidebar_responsive>
    <% end %>
     
    <%!-- NAVBAR --%>
    <header class="w-full px-4 screen-padding bg-[var(--background-card)] border-b border-[var(--border)]">
      <div class="flex items-center justify-between py-2.5 text-sm">

        <%!-- responsive side bar open/close button --%>
        <style>
        @media screen and (min-width: 768px) {
          .hidden-on-medium-and-above { display: none; }
        } 
        </style>
        <%= if @current_author do %>
          <button type="button" phx-click={show_modal("sidebar-responsive")} class="hidden-on-medium-and-above">
            <Heroicons.bars_3 class="w-5 h-5 text-[var(--primary-color-text)] hover:text-[var(--primary-color)]" />
          </button>
        <% end %>
        
        <div class="flex gap-4">        
          <a href={if assigns[:current_author], do: "/authors", else: "/"} class="flex items-center gap-2">
            <Heroicons.computer_desktop class="stroke-1 text-[var(--primary-color)] w-6 h-6"/>
            <p class="text-lg">QUIC</p>
          </a>
        </div>
        
        <div class="flex items-center gap-2 sm:gap-4 font-semibold leading-6 text-[var(--primary-color-text)]">
          <button onclick="changeThemeToDark(true)">
            <Heroicons.moon class="w-6 h-6 stroke-1 text-[var(--primary-color-text)] hover:text-[var(--primary-color)]"/>
          </button>
          <button onclick="changeThemeToDark(false)">
            <Heroicons.sun class="w-7 h-7 stroke-1 text-[var(--primary-color-text)] hover:text-[var(--primary-color)]"/>
          </button>

          <%= if assigns[:current_author] === nil do %>
            <%= if !String.match?(@page_title, ~r/Session \w+/) do %>
              <.link
                href={~p"/authors/log_in"}
                class="text-sm font-normal text-white call2actionBtn">
                Sign in
              </.link>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>

    <%= @inner_content %>
  </body>
</html>
